<div class="modal fade" 
     id="modalDeleteCadastro" 
     tabindex="-1"
     aria-labelledby="modalDeleteCadastroLabel"
     aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title"
                   id="modalDeleteCadastroLabel">
                   Excluir Paciente <b>{{cadastroDel.nome}}</b>
               </h5>
               <button (click)="updateStatus(false)"
                       type="button"
                       class="close"
                       data-dismiss="modal"
                       aria-label="close">
                    <span aria-hidden="true">&times;</span>    
                </button>
           </div>
           <div class="modal-body">
               <div class="alert alert-danger" role="alert">
                 Confirma exclusão do paciente 
                 <b>{{cadastroDel.nome}}</b> ?
               </div>
           </div>
           <div class="modal-footer">
               <button (click)="updateStatus(false)"
                       type="button"
                       class="btn btn-secondary"
                       data-dismiss="modal">Cancel</button>
                <button (click)="delete(cadastroDel.id)"
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">Excluir</button>
           </div>
       </div>
   </div>    
 </div>