
<div class="container">
    <div class="row">
  
      <div class="container">
        <div class="row mb-4">
          <legend class="col-12 d-flex justify-content-center">ATENDIMENTO</legend>
        </div>
      </div>
  
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Prioridade</th>
                <th scope="col">Situação</th>
              </tr>
            </thead>
                <tbody *ngFor="let paciente of listaPacientes$ | async">
                  <tr>
                    <th scope="row">{{paciente.id}}</th>
                    <td>{{ paciente.nome}}</td>
                    <td>{{ paciente.idade}}</td>
                    <td>{{paciente.prioridade}}</td>
                    <td>
                      <div class="btn-paciente">
                        <div class="col-6">
                          <div [ngSwitch]="paciente.flAtivo">
                            <div *ngSwitchCase="true">
                              <input type="checkbox" checked="checked"
                              (change)="toggleAtivo(paciente.id)"
                              class="custom-control-input" id="flAtivo_{{paciente.id}}">
                              <label class="custom-control-label" for="flAtivo_{{paciente.id}}">Em atendimento</label>
                            </div>
              
                            <div *ngSwitchCase="false">
                              <input type="checkbox"
                              (change)="toggleAtivo(paciente.id)"
                              class="custom-control-input" id="flAtivo_{{paciente.id}}">
                              <label class="custom-control-label" for="flAtivo_{{paciente.id}}">Atendido</label>
                            </div>
                          </div>
                        </div>
                      </div>
              </tr>
            </tbody>
          </table>
  
    </div>
  </div>