
<div class="container">
    <div class="row">
  
      <div class="container">
        <div class="row mb-4">
          <legend class="col-12 d-flex justify-content-center">ATENDIMENTO</legend>
        </div>
      </div>
  
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Endereço</th>
                <th scope="col">Data Atendimento</th>
                <th scope="col">Prioridade</th>
                <th scope="col"> </th>
  
              </tr>
            </thead>
            <tbody>
              <tr>
                
              </tr>
            </tbody>
          </table>
  
    </div>
  </div>