<div class="body-card container">

    <div class="titulo-card" id="titulo">
        <h3>PACIENTE</h3>
    </div>

    <div class="card-main">
        
        <section class="card-paciente">
            <img src="./assets/_img/doctor.png" alt="doctor" class="img-card">
            <h3>Atendimento</h3>
            <b>Acessar lista de pacientes para ser atendido</b>
            <a routerLink="/atendimento">ACESSAR LISTA</a>
        </section>

        <section class="card-paciente">
            <img src="./assets/_img/file.png" alt="list-file" class="img-card">
            <h3>Paciente</h3>
            <b>Acesse lista de pacientes cadastrados no sistema</b>
            <a routerLink="/lista-pacientes">ACESSAR LISTA</a>
        </section>

    </div>

</div>
