<div *ngIf="msgRetorno | async" class="row">
  <div class="col">
    <div class="alert alert-success" role="alert">
      Paciente <b>#{{ formCadastro.nome }}</b> criado
      com sucesso!
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="text-dark font-weight-bold hidden"> Formulário </h2>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col">
    <form>
      <div class="form-group">
        <label for="formControlInput">Nome do Paciente</label>
        <input
          type="text"
          name="nome"
          class="form-control"
          id="nome"
          placeholder="Nome Completo"
          [(ngModel)]="cadastroInsert.nome"
        />
      </div>
      <div class="form-group">
        <label for="formControlInput">CPF</label>
        <input
          type="text"
          name="cpf"
          class="form-control"
          id="cpf"
          placeholder="CPF"
          [(ngModel)]="cadastroInsert.cpf"
        />
      </div>
      <div class="form-group">
        <label for="formControlInput">Idade</label>
        <input type="text" 
               name="idade"
               id="idade" 
               [(ngModel)]="cadastroInsert.idade"
               placeholder="idade"
               class="form-control" 
                />
      </div>
      <div class="form-group">
        <label for="formControlInput">Endereço</label>
        <input
          type="text"
          class="form-control"
          id="endereco"
          name="endereco"
          placeholder="Rua nome da rua, 000"
          [(ngModel)]="cadastroInsert.endereco"
        />
      </div>
      <div class="form-group">
        <label for="formControlInput">Situação do atendimento</label>
        <div class="custom-control custom-switch">
          <input type="checkbox"
                 class="custom-control-input" 
                 id="flAtivo" 
                 name="flAtivo" 
                 [(ngModel)]="cadastroInsert.flAtivo">
          <label class="custom-control-label" for="flAtivo">Em atendimento</label>
        </div>
      </div>

      <!-- Prioridade  -->
      <div class="form-group">
        <select  name="prioridade"
                 id="prioridade"
                 [(ngModel)]="cadastroInsert.prioridade.id"
                 class="form-control">
                 <option value="">Prioridade...</option>
                 <option *ngFor="let prioridade of listaPrioridades$ | async" 
                          value="{{prioridade?.id}}">
                          {{prioridade?.title}}</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="d-flex justify-content-center">
        <!-- 3 - Ao preencher os dados e dar um save -->
        <button style="width: 40vw; letter-spacing: 2px;" (click)="save()" class="btn btn-sm btn-success mr-2">SALVAR</button>
        <!-- 4 - Salva no banco com o método save no controller e atribui 'false' para o 'status' através do método cancel -->
    </div>
  </div>
</div>



