<footer>
    <div class="main-footer">
    <div class="up-footer">
    <h3>TechLife - Solução para sua Saúde</h3>
    </div>
    <hr>
    <div class="down-footer">
        <img src="./assets/_img/wpp.png" alt="wpp"><a href="https://web.whatsapp.com/" target="_blank">(47) 9 9090-9090</a>
        <img src="./assets/_img/email.png" alt="email"><a><u>techlife@saude.com</u></a>
        <img src="./assets/_img/linkedin.png" alt="linkdln"><a href="https://www.linkedin.com/" target="_blank">TechLife</a>
        <img src="./assets/_img/github.png" alt="linkdln"><a href="https://github.com/chavesluucas" target="_blank">TechLife</a>
    </div>
</div>
</footer>